# {{ ansible_managed }}

{% if stage != "development" -%}
server {
  listen 80;
  listen [::]:80;

  server_name {{ rocket_chat_fqdn }} {{ rocket_chat_fqdn_aliases | join(' ') }};

  {% if stage != "development" -%}
  {% block acme_challenge -%}
  include acme-challenge-location.conf;
  {% endblock -%}
  {% endif %}

  location / {
    return 301 http{{ (stage == "development") | ternary('', 's') }}://{{ rocket_chat_fqdn }}$request_uri;
  }
}
{% endif %}

{% if rocket_chat_fqdn_aliases | length > 0 -%}
server {
  {% if stage == "development" -%}
  listen       80;
  listen  [::]:80;
  {% else %}
  listen       443 ssl http2;
  listen  [::]:443 ssl http2;
  {% endif %}

  server_name {{ rocket_chat_fqdn_aliases | join(' ') }};

  {% if stage != "development" -%}
  ssl_protocols {{ rocket_chat_nginx_ssl_protocols }};
  ssl_prefer_server_ciphers {{ rocket_chat_nginx_ssl_prefer_server_ciphers }};
  {% if not rocket_chat_nginx_ssl_ciphers == "" %}
  ssl_ciphers "{{ rocket_chat_nginx_ssl_ciphers }}";
  {% endif %}

  {% if not rocket_chat_nginx_ssl_preset == "modern" %}
  ssl_dhparam {{ rocket_chat_nginx_ssl_dhparam }};
  {% endif %}

  ssl_certificate {{ rocket_chat_ssl_cert_path }};
  ssl_certificate_key {{ rocket_chat_ssl_key_path }};
  ssl_session_timeout 1d;
  ssl_session_cache shared:MozSSL:10m;  # about 40000 sessions
  ssl_session_tickets off;

  ssl_stapling on;
  ssl_stapling_verify on;

  add_header Strict-Transport-Security "max-age=31536000";
  {% endif %}

  return 301 http{{ (stage == "development") | ternary('', 's') }}://{{ rocket_chat_fqdn }}$request_uri;
}
{% endif %}

server {
  {% if stage == "development" -%}
  listen       80;
  listen  [::]:80;
  {% else %}
  listen       443 ssl http2;
  listen  [::]:443 ssl http2;
  {% endif %}

  server_name {{ rocket_chat_fqdn }};

  {% if stage != "development" -%}
  ssl_protocols {{ rocket_chat_nginx_ssl_protocols }};
  ssl_prefer_server_ciphers {{ rocket_chat_nginx_ssl_prefer_server_ciphers }};
  {% if not rocket_chat_nginx_ssl_ciphers == "" %}
  ssl_ciphers "{{ rocket_chat_nginx_ssl_ciphers }}";
  {% endif %}

  {% if not rocket_chat_nginx_ssl_preset == "modern" %}
  ssl_dhparam {{ rocket_chat_nginx_ssl_dhparam }};
  {% endif %}

  ssl_certificate {{ rocket_chat_ssl_cert_path }};
  ssl_certificate_key {{ rocket_chat_ssl_key_path }};
  ssl_session_timeout 1d;
  ssl_session_cache shared:MozSSL:10m;  # about 40000 sessions
  ssl_session_tickets off;

  ssl_stapling on;
  ssl_stapling_verify on;

  add_header Strict-Transport-Security "max-age=31536000";
  {% endif %}

  # Specify a charset
  charset utf-8;

  access_log {{ rocket_chat_nginx_access_log }};
	error_log {{ rocket_chat_nginx_error_log }};

  # A suitable client_max_body_size has to be set or you will get errors
  client_max_body_size 512M;

  location / {
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forward-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forward-Proto http;
    proxy_set_header X-Nginx-Proxy true;
    proxy_redirect off;

    proxy_pass http://{{ rocket_chat_private_ipv4 }}:3000/;
  }
}
